html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #ff9fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
  flex-grow: 1; 
}

section {
  margin-bottom: 30px;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.photo-grid img {
  width: 200px; 
  height: 200px;
  object-fit: cover; 
  margin-bottom: 10px;
}

/* I don't even know what this does. Stackoverflow told me to do it, it worked, that's all I know. */

a {
  padding: 0 4px;
}

a + a { 
  margin-left: 1px; 
}